<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="Keywords" content="distribucion distribuciones probabilidad poisson binomial binomial negativa normal exponencial">
  	<meta name="Description" content="distribucion de probabilidad">

 	 <!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.png') }}">
  	<title>Distribuiones Probabilidad</title>	
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script defer src="{{url_for('static', filename='js/main.js') }}" async="async"></script>

</head>
<body>

{% block content %}
{% endblock %}


<footer class=" container down bottom" >
<div class="opacity">Iconos diseñados por <a href="https://www.flaticon.es/autores/neungstockr" title="neungstockr">neungstockr</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></div>

</footer>
</body>
</html>